<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="homepage">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <div class="page_container">
        <div id="home">
            <%- include('../partials/home'); %>
        </div>
        <div id="about_me">
            <%- include('../partials/about_me'); %>
        </div>
        <div id="projects">
            <%- include('../partials/projects'); %>
        </div>
        <div id="contact">
            <%- include('../partials/contact'); %>
        </div>
    </div>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>